<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="center-div">
      <form
        class="center-content"
        [formGroup]="loginFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field>
          <input
            matInput
            autocomplete="off"
            type="text"
            placeholder="Username"
            formControlName="emailControl"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            autocomplete="off"
            type="password"
            placeholder="Password"
            formControlName="passwordControl"
          />
        </mat-form-field>
        <button mat-button>Login</button>
      </form>
    </div>
    <p>Don't have an account? <a routerLink="/signup">Register now!</a></p>
  </mat-card-content>
</mat-card>
