.search-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}