<mat-card>
  <mat-card-content>
    <div class="mat-elevation-z4">
      <h5>Tilen je peder</h5>

      <div class="search-container">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Search by team name"
            #search
            autocomplete="off"
          />
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
          <mat-cell *matCellDef="let team"> {{ team.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let team"> {{ team.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let team" class="flex-end">
            <button mat-button color="secondary" (click)="removeTeam(team.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" (click)="removeTeam(team.id)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns"> </mat-row>
      </mat-table>
      <mat-paginator
        [length]="dataSource?.total"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10]"
        [disabled]="dataSource.loading$ | async"
      >
      </mat-paginator>
    </div>
    <mat-progress-bar
      *ngIf="dataSource.loading$ | async"
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card-content>
</mat-card>
