.mat-horizontal-stepper {
    display: flex;
    justify-content: center;
}

.center-div {
    flex-direction: row;
    display: flex;
    justify-content:center;
}

.center-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
