<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <div class="center-div">
      <form
        [formGroup]="firstFormGroup"
        (ngSubmit)="onSubmitQuiz()"
        class="center-content"
      >
        <ng-template matStepLabel>Enter quiz info</ng-template>
        <mat-form-field>
          <input
            autocomplete="off"
            matInput
            placeholder="Quiz name"
            formControlName="nameControl"
            required="true"
            type="text"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Pick a date"
            [matDatepicker]="dp1"
            formControlName="dateControl"
            [min]="minDate"
            readonly="true"
          />
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1 disabled="false"></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" matStepperNext>
          NEXT
        </button>
      </form>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <div>
      <form
        [formGroup]="secondFormGroup"
        (ngSubmit)="onSubmitTeam()"
        class="center-content"
      >
        <ng-template matStepLabel>Add teams</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Team name"
            formControlName="teamControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngIf="!allTeams?.length && !!teamControl.value"
              (click)="onNewTeam(teamControl.value)"
              [value]="teamControl.value"
            >
              Create team '{{ teamControl.value }}'
            </mat-option>
            <mat-option
              *ngFor="let team of allTeams"
              [value]="team.name"
              (click)="onExistingTeam(team)"
            >
              {{ team.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" matStepperNext>
          DONE
        </button>
      </form>
    </div>
    <span></span>
    <mat-table
      *ngIf="!!dataSource.data && !!dataSource.data.length"
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let participant">
          <p>{{ participant.name }}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tracking">
        <mat-header-cell *matHeaderCellDef>Tracking</mat-header-cell>
        <mat-cell *matCellDef="let participant">
          <button
            mat-icon-button
            color="primary"
            *ngIf="participant.watcherId === user.id; else notShown"
            (click)="stopWatching(participant.id)"
          >
            <mat-icon>visibility_off</mat-icon>
          </button>
          <ng-template #notShown>
            <button
              mat-icon-button
              color="primary"
              (click)="addToWatchedTeams(participant.id)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
        <mat-cell *matCellDef="let participant">
          <button
            mat-button
            [disableRipple]="true"
            (click)="removeParticipant(participant)"
          >
            <mat-icon color="warn">cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['name', 'remove', 'tracking']"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['name', 'remove', 'tracking']"
      ></mat-row>
    </mat-table>
  </mat-step>
</mat-vertical-stepper>
