.mat-card {
  margin: auto;
}

.table-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}
.points-column {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
.mat-row {
  text-align: center;
}
