<mat-card *ngIf="quiz">
  <mat-card-header>
    <mat-card-title>{{ quiz.name }}</mat-card-title>
    <mat-card-subtitle>{{
      quiz.startTime | date: 'd. M. yyyy.'
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table
        mat-table
        *ngIf="!!dataSource.data && !!dataSource.data.length"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let participant">
            <p>{{ participant.name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>Points</th>
          <td mat-cell *matCellDef="let participant">
            <div class="points-column">
              <button
                mat-button
                color="warn"
                *ngIf="participant.score >= 1; else disabledButton"
                (click)="decrementPoints(participant)"
              >
                -
              </button>
              <ng-template #disabledButton color="warn">
                <button mat-button disabled>-</button>
              </ng-template>
              <p>{{ participant.score }}</p>
              <button
                mat-button
                color="primary"
                (click)="incrementPoints(participant)"
              >
                +
              </button>
              <ng-template #disabledIncrementButton>
                <button mat-button disabled>+</button>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'points']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'points']"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="editQuiz()">Edit Quiz</button>
  </mat-card-actions>
</mat-card>
