<mat-card>
  <mat-card-content>
    <div class="center-div">
      <form
        class="center-content"
        [formGroup]="signupFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field>
          <input
            matInput
            autocomplete="off"
            type="text"
            placeholder="Username"
            formControlName="emailControl"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            #pass
            matInput
            autocomplete="off"
            type="password"
            placeholder="Password"
            formControlName="passwordControl"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            #conf
            matInput
            autocomplete="off"
            type="password"
            placeholder="Confirm password"
            formControlName="confirmControl"
          />
        </mat-form-field>
        <button mat-button *ngIf="conf.value === pass.value">Sign Up</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
