<mat-spinner
  *ngIf="user === undefined; else main"
  class="container"
></mat-spinner>
<ng-template #main>
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidednav">
      <button
        color="primary"
        mat-button
        routerLink="/quiz"
        (click)="drawer.close()"
      >
        Quizzes
      </button>
      <button
        color="primary"
        mat-button
        routerLink="/team"
        (click)="drawer.close()"
      >
        Teams
      </button>
    </mat-drawer>

    <div class="sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button
            mat-icon-button
            (click)="drawer.toggle()"
            [disableRipple]="true"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span
            ><a routerLink="/" style="text-decoration: none; color:white"
              >SKVIZ manager</a
            ></span
          >
          <span class="spacer"></span>
          <a
            *ngIf="isLoggedIn$ | async; else login"
            (click)="logout()"
            style="text-decoration: none; color:white; cursor: pointer;"
          >
            {{ user.username }} (Logout)</a
          >
          <ng-template #login
            ><a routerLink="/login" style="text-decoration: none; color:white"
              >Login</a
            ></ng-template
          >
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/create">
              <mat-icon>create</mat-icon>
              <span>New Quiz</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</ng-template>
