<mat-tab-group (selectedTabChange)="tabSwitchFuture($event)">
  <mat-tab label="Past">
    <ng-template matTabContent>
      <mat-card>
        <mat-card-content>
          <div class="table-wrapper">
            <table
              mat-table
              *ngIf="
                !!pastQuizzesDataSource.data &&
                !!pastQuizzesDataSource.data.length
              "
              [dataSource]="pastQuizzesDataSource"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Quiz name</th>
                <td mat-cell *matCellDef="let quiz">{{ quiz.name }}</td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="flex-center">
                  Quiz date
                </th>
                <td
                  mat-cell
                  *matCellDef="let quiz"
                  fxLayoutAlign="center center"
                >
                  {{ quiz.startTime | date: 'd. M. y.' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="flex-center"></th>
                <td
                  mat-cell
                  *matCellDef="let quiz"
                  fxLayoutAlign="center center"
                >
                  <button
                    mat-icon-button
                    color="warn"
                    [disableRipple]="true"
                    (click)="deleteOldQuiz(quiz)"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="['name', 'date', 'delete']"
              ></tr>
              <tr
                mat-row
                *matRowDef="let quiz; columns: ['name', 'date', 'delete']"
              ></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-tab>
  <mat-tab label="Future">
    <ng-template matTabContent>
      <mat-card>
        <mat-card-content>
          <div class="table-wrapper">
            <table
              mat-table
              *ngIf="
                !!upcomingQuizzesDataSource.data &&
                !!upcomingQuizzesDataSource.data.length
              "
              [dataSource]="upcomingQuizzesDataSource"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Quiz name</th>
                <td mat-cell *matCellDef="let quiz">{{ quiz.name }}</td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="flex-center">
                  Quiz date
                </th>
                <td
                  mat-cell
                  *matCellDef="let quiz"
                  fxLayoutAlign="center center"
                >
                  {{ quiz.startTime | date: 'd. M. y.' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="flex-center"></th>
                <td
                  mat-cell
                  *matCellDef="let quiz"
                  fxLayoutAlign="center center"
                >
                  <button
                    mat-icon-button
                    color="primary"
                    [disableRipple]="true"
                    (click)="onQuizSelect(quiz.id)"
                  >
                    Edit
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    [disableRipple]="true"
                    (click)="deleteNewQuiz(quiz)"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="['name', 'date', 'delete']"
              ></tr>
              <tr
                mat-row
                *matRowDef="let quiz; columns: ['name', 'date', 'delete']"
              ></tr>
            </table>
          </div>

          <ng-container
            *ngIf="
              !upcomingQuizzesDataSource.data ||
              !upcomingQuizzesDataSource.data.length
            "
          >
            <mat-card>
              <mat-card-content>
                No registered quizzes!
              </mat-card-content>
            </mat-card>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-tab>
</mat-tab-group>
